export ACCESS_KEY_ID="AWS_KEY_ID"
export SECRET_ACCESS_KEY="AWS_SECRET_KEY"
export SOURCE_BUCKET="AWS_SOURCE_BUCKET"
export SOURCE_REGION="AWS_SOURCE_REGION"
export TARGET_BUCKET="AWS_TARGET_BUCKET"
export TARGET_REGION="AWS_TARGET_REGION"
export SQS_URL="SQS_QUEUE_URL"
export SQS_QUEUE_REGION="SQS_QUEUE_REGION"